# dependencies
node_modules/
.pnpm-store/

# builds
dist/
build/
.next/
out/
*.tsbuildinfo

# env & secrets
.env
.env.*
!.env.example

# logs
*.log

# coverage
coverage/

# OS
.DS_Store
Thumbs.db

# editors
.vscode/*
!.vscode/extensions.json
.idea/
